[Unit]
Description=Red Hat build of Keycloak
Documentation=https://access.redhat.com/documentation/ja-jp/red_hat_build_of_keycloak/
After=network.target

[Service]
Type=exec

WorkingDirectory = /opt/keycloak/rhbk-26.4.7

Environment = JAVA_HOME=/usr/lib/jvm/java-21

# Override default values in kc.sh
Environment = JAVA_OPTS_KC_HEAP="\
  -XX:InitialRAMPercentage=10 -XX:MaxRAMPercentage=10 \
  # GC log
  -Xlog:gc*:file=./data/log/gc.log:time,uptimemillis:filecount=5,filesize=3M \
"

# Other JVM options: define bind_addr if you have multiple NICs
#Environment = JAVA_OPTS_APPEND=-Djgroups.bind_addr=192.168.1.10

LimitNOFILE=infinity
LimitNPROC=infinity

# Comment out for user-level systemd
User=keycloak
Group=keycloak

ExecStartPre = mkdir -p ./data/log
ExecStartPre = rm -rf ./data/tmp/kc-gzip-cache
ExecStartPre = ls -al ./providers
ExecStartPre = ls -al ./conf
ExecStartPre = sh -c "exec ./bin/kc.sh build"
ExecStartPre = ls -al .

ExecStart = sh -c "exec ./bin/kc.sh start --import-realm"
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
# For user-level systemd, use the default target
#WantedBy=default.target
