[Unit]
Description=Red Hat build of Keycloak
Documentation=https://access.redhat.com/documentation/ja-jp/red_hat_build_of_keycloak/
After=network.target

[Service]
Type=exec

WorkingDirectory = /opt/keycloak/rhbk-26.0.9

Environment = JAVA_HOME=/usr/lib/jvm/java-17

# Override default values in kc.sh
Environment = JAVA_OPTS="\
  -XX:InitialRAMPercentage=10 -XX:MaxRAMPercentage=10 \
  -XX:+ExitOnOutOfMemoryError -Djava.security.egd=file:/dev/urandom \
  -XX:+UseG1GC -XX:FlightRecorderOptions=stackdepth=512 \
  # GC log
  -Xlog:gc*:file=./data/log/gc.log:time,uptimemillis:filecount=5,filesize=3M \
"

# Other JVM options: define bind_addr if you have multiple NICs
#Environment = JAVA_OPTS_APPEND=-Djgroups.bind_addr=192.168.1.10

LimitNOFILE=infinity
LimitNPROC=infinity

User=keycloak
Group=keycloak

ExecStartPre = mkdir -p ./data/log
ExecStartPre = rm -rf ./data/tmp/kc-gzip-cache
ExecStartPre = ls -al ./providers
ExecStartPre = ls -al ./conf
ExecStartPre = sh -c "exec ./bin/kc.sh build"
ExecStartPre = ls -al .

ExecStart = sh -c "exec ./bin/kc.sh start --import-realm"
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target default.target
