[Unit]
Description=Delete Keycloak log files periodically
Documentation=man:systemd.timer(5) man:systemd.time(7)
Documentation=https://opensource.com/article/20/7/systemd-timers
Requires=keycloak-log-delete.service

[Timer]
Unit=keycloak-log-delete.service
AccuracySec=1hour
OnCalendar=weekly

[Install]
WantedBy=timers.target

